<p id="notice"><%= notice %></p>

  <h3>Name</h3>
  <p><%= @user.name %></p>

  <h3>Email</h3>
  <p><%= @user.email %></p>

  <h3>Profile</h3>
  <p><%= @user.about %></p>

  <h3>My Tunes</h3>
  <p><% @user.tracks.each do |track| %></p>
      <%= track.name %><br>
      <%= link_to 'Tracks', tracks_path %>
     <% end %><br>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>